02-nodered/flows (1).json
[
    {
        "id": "6a8b092929b24740",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ef12679aae389dae",
        "type": "switch",
        "z": "6a8b092929b24740",
        "name": "",
        "property": "player",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "machine",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "2db49e772496eedf"
            ],
            [
                "8bf681bcff94ce7f"
            ]
        ]
    },
    {
        "id": "9b5564da84371528",
        "type": "function",
        "z": "6a8b092929b24740",
        "name": "function 1",
        "func": "msg.machine = Math.floor(Math.random()*3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 400,
        "wires": [
            [
                "ef12679aae389dae"
            ]
        ]
    },
    {
        "id": "2db49e772496eedf",
        "type": "function",
        "z": "6a8b092929b24740",
        "name": "EMPATE",
        "func": "msg.winner = \"draw\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "32a34ce6b7a904e2"
            ]
        ]
    },
    {
        "id": "8bf681bcff94ce7f",
        "type": "function",
        "z": "6a8b092929b24740",
        "name": "function",
        "func": "msg.winner = 'player'\nif(\n    msg.player == 0 && msg.machine == 1 ||\n    msg.player == 1 && msg.machine == 2 ||\n    msg.player == 2 && msg.machine == 0\n){\n    msg.winner = 'machine'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 500,
        "wires": [
            [
                "32a34ce6b7a904e2"
            ]
        ]
    },
    {
        "id": "32a34ce6b7a904e2",
        "type": "debug",
        "z": "6a8b092929b24740",
        "name": "RESULTADO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 380,
        "wires": []
    },
    {
        "id": "50df6bed49df78b1",
        "type": "inject",
        "z": "6a8b092929b24740",
        "name": "Piedra",
        "props": [
            {
                "p": "player",
                "v": "0",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "9b5564da84371528"
            ]
        ]
    },
    {
        "id": "a8bc5411d33cd37d",
        "type": "inject",
        "z": "6a8b092929b24740",
        "name": "Papel",
        "props": [
            {
                "p": "player",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "9b5564da84371528"
            ]
        ]
    },
    {
        "id": "a1548ed54be706df",
        "type": "inject",
        "z": "6a8b092929b24740",
        "name": "Tijera",
        "props": [
            {
                "p": "player",
                "v": "2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 520,
        "wires": [
            [
                "9b5564da84371528"
            ]
        ]
    }
]